In [3]:
import pandas as pd

In [9]:
#Retrieve the dataset from this link and assign it to a variable â€˜chipoâ€™.
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
chipo = pd.read_csv(url, sep='\t')

In [10]:
chipo_df = pd.DataFrame(chipo)

In [13]:
chipo_df.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

In [24]:
chipo_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [26]:
chipo_df.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [25]:
chipo_df.shape

(4622, 5)

In [27]:
chipo_df.index

RangeIndex(start=0, stop=4622, step=1)

In [ ]:
Exercise 1: Getting & Knowing Your Data (Chipo)
Instructions
Start by importing the necessary libraries.


Retrieve the dataset from this link and assign it to a variable â€˜chipoâ€™.
Note: You will be using â€˜chipoâ€™ in future exercises in the XP Gold and XP Ninja sections.


Display the first 10 rows of â€˜chipoâ€™ using the head() function.


Determine the total number of entries (rows) in â€˜chipoâ€™ using shape or info().


Use shape or columns to find the total number of columns in â€˜chipoâ€™.


Use columns to print all the column names.


Utilize index to understand how the DataFrame is indexed.


Use the value_counts() method on the â€˜item_nameâ€™ column to find the most ordered item.


Find the total number of items ordered by summing the â€˜quantityâ€™ column.


Use value_counts() on â€˜choice_descriptionâ€™ to find the most ordered item from this column.


Convert â€˜item_priceâ€™ to a float datatype using apply() and lambda. (Hint: Youâ€™ll need to remove the â€˜$â€™ from the prices first)

chipo['item_price'] = chipo['item_price'].apply(lambda x: float(x.replace('$', '')))


Calculate the total revenue for the dataset by summing the â€˜item_priceâ€™ column.


Find the total number of orders by using the nunique() function on the â€˜order_idâ€™ column.


Compute the average order value by dividing the total revenue by the number of orders.


Determine the total number of unique items sold using the nunique() function on the â€˜item_nameâ€™ column.



ðŸŒŸExercise 2: Filtering & Sorting (Chipo)
Instructions
Use the already created dataframe â€˜chipoâ€™ from the previous section.
Using conditional selection, find the count of products that cost more than $10. Note: the price is listed in the â€˜item_priceâ€™ column.


ðŸŒŸ Exercise 3: Grouping (Users)
Instructions
Import the necessary libraries.


Get the dataset from this link and assign it to â€˜usersâ€™.
Note: You will continue working with â€˜usersâ€™ in XP Gold section.


Use the groupby() function to find the mean age per occupation.



ðŸŒŸ Exercise 4: Merge (All_data, All_data_col, Data3)
Instructions
Import the necessary libraries.


Create three DataFrames with the following suggested structure. Feel free to populate them with your own data:

â€˜data1â€™: Columns could be â€˜IDâ€™ (integer values) and â€˜Nameâ€™ (string values)
â€˜data2â€™: Columns could be â€˜IDâ€™ (integer values) and â€˜Nameâ€™ (string values)
â€˜data3â€™: Columns could be â€˜IDâ€™ (integer values) and â€˜Scoreâ€™ (integer values between 0-100)
Note: These DataFrames will be used for merging exercises in the XP Gold section.

Merge the two dataframes â€˜data1â€™ and â€˜data2â€™ along rows using the concat() function and assign it to â€˜all_dataâ€™.


Merge â€˜data1â€™ and â€˜data2â€™ along columns using concat() and assign it to â€˜all_data_colâ€™.



ðŸŒŸ Exercise 5: Deleting (Iris)
Instructions
Import the necessary libraries.


Retrieve the dataset from this link and assign it to â€˜irisâ€™.
Note: You will be manipulating the â€˜irisâ€™ DataFrame in the XP Gold section.


Assign appropriate column names to the DataFrame, such as â€˜sepal_lengthâ€™, â€˜sepal_widthâ€™, â€˜petal_lengthâ€™, â€˜petal_widthâ€™, and â€˜speciesâ€™.


Check if there are any missing values in â€˜irisâ€™ using the isnull() function.



ðŸŒŸ Exercise 6: Creating Series And DataFrames (Pokemon)
Instructions
Start by importing necessary libraries.


Create a data dictionary with the following structure, then convert it into a DataFrame and name it â€˜pokemonâ€™:

    {'evolution': ['Ivysaur', 'Charmeleon', 'Wartortle', 'Metapod'],
    'hp': [45, 39, 44, 45],
    'name': ['Bulbasaur', 'Charmander', 'Squirtle', 'Caterpie'],
    'pokedex': ['yes', 'no', 'yes', 'no'],
    'type': ['grass', 'fire', 'water', 'bug']}
Note: You will be using â€˜pokemonâ€™ in the XP Gold section.


Rearrange the columns in the order: â€˜nameâ€™, â€˜typeâ€™, â€˜hpâ€™, â€˜evolutionâ€™, â€˜pokedexâ€™ using simple DataFrame indexing.



ðŸŒŸ Exercise 7: Descriptive Statistics (Baby_names)
Instructions
Start by importing necessary libraries and downloading and loading the US Baby Names data into a DataFrame named baby_names.
Note: You will be working with â€˜baby_namesâ€™ in the XP Gold section.


Display the first 10 entries using the head method.


Delete the columns â€˜Unnamed: 0â€™ and â€˜Idâ€™ using the drop method.



ðŸŒŸ Exercise 8: Handling Time Series Data (Investor_data)
Instructions
Start by importing necessary libraries and create your own dataset using the pd.date_range function. Assume the dataset has the following columns: [â€˜Dateâ€™, â€˜Temperatureâ€™, â€˜Humidityâ€™, â€˜Wind_Speedâ€™]. You can use the following code to create the data points for Temperature, Humidity and Wind_Speed columns:

 temperature = [30, 31, 29, 32, 33, 34, 28, 27, 25, 35]
 humidity = [80, 75, 70, 85, 90, 80, 75, 60, 65, 70]
 wind_speed = [5, 6, 7, 8, 9, 4, 10, 5, 6, 7]

 # Create the Date column here (with dates between 2021-01-01 and 2021-01-10, Day frequency)
 date_rng = ...

 # Create a dataframe with all of the columns inside
 weather_data = pd.DataFrame(...)


Determine the frequency of the dataset.

Hint: Frequency refers to the regularity with which the data points are recorded, e.g., daily, weekly, etc. Use pd.infer_freq() to infer the frequency of your DataFrameâ€™s â€˜Dateâ€™ column.
The output should look like this:

The frequency of the dataset is D.


Set â€˜Dateâ€™ as the index of the DataFrame.
Hint: You can use the set_index method to set â€˜Dateâ€™ as the index of the DataFrame. Use the inplace=True parameter to modify the DataFrame in place.